<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/base :: head(~{::link})}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/progress/calendar.css}">
</head>
<body>

<header th:replace="~{/layout/header :: header}">
</header>
<section class="main container-sm">

    <section class="title">
        <div class="title-left">
            <div class="date">
                <span th:text="|${calendar.year}년 ${calendar.monthValue}월|"></span>
            </div>
            <div class="controller">
                <a th:href="@{/progress/calendar(targetDate=${prev})}"> &lt; </a>
                <a th:href="@{/progress/calendar(targetDate=${today})}"> Today </a>
                <a th:href="@{/progress/calendar(targetDate=${next})}"> &gt; </a>
            </div>
        </div>
        <div class="title-right">
            <a class="btn btn-primary" th:href="@{/progress/create}" style="margin-right: 15px;">
                생성하기
            </a>
            <a class="btn btn-primary">
                기록하기
            </a>
        </div>
    </section>

    <section class="calender">
        <div class="week" th:each="week : ${calendar.days}">

            <div class="day" th:each="day : ${week}">
                <div th:class="'day-box'" th:classappend="${(day.isTargetMonth ? 'target-month ' : '')}">
                    <div th:class="'today-box'" th:classappend="${(day.isToday ? 'today ' : '')}">
                        <span th:text="${day.day}" class="month-value"></span>
                    </div>
                    <span>일</span>
                </div>
            </div>
        </div>
    </section>

</section>
</body>
</html>
