<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/base :: head(~{::link})}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/progress/createProgressForm.css}">
</head>
<body>

<header th:replace="~{/layout/header :: header}">
</header>
<section class="main container-sm">
    <form th:action th:object="${progress}" method="post">
        <div class="mb-3">
            <label for="subject" class="form-label">목표 설명</label>
            <input type="text" th:field="*{subject}" class="form-control" id="subject" placeholder="팔굽혀펴기">
        </div>

        <div class="mb-3">
            <label for="goalFigure" class="form-label">목표 수치</label>
            <input type="number" th:field="*{goalFigure}" class="form-control" id="goalFigure" placeholder="100">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary form-control">생성하기</button>
            <a class="btn btn-secondary form-control" th:href="@{/progress/summary}" style="margin-top: 15px;">
                목록으로
            </a>
        </div>
    </form>
</section>
</body>
</html>