<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/base :: head(~{::link})}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/progress/main.css}">
</head>
<body>
<section class="main container-sm">
    <section class="title">
        <div>
            <span th:text="|${calendar.year}년 ${calendar.monthValue}월}|"></span>
        </div>
        <div>
            &lt; 오늘 &gt;
        </div>
    </section>

    <section class="calender">
        <div class="week" th:each="week : ${calendar.days}">

            <div class="day" th:each="day : ${week}">
                <span th:text="${day.year}"></span>
                <span th:text="${day.month}"></span>
                <span th:text="${day.day}"></span>
            </div>
        </div>
    </section>

</section>
</body>
</html>
