<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header th:fragment="header">
      <div class="container-sm header">
          <div class="left">
              <div class="logo">
                <span class="logo-title">PROGRESSOR</span>
              </div>
              <ul class="gnb">
                  <li>
                      <a th:href="@{/progress/calendar}">캘린더로 보기</a>
                  </li>
                  <li>
                      <a th:href="@{/progress/summary}">전체 요약 보기</a>
                  </li>
              </ul>
          </div>
          <div class="right">
              <div>
                  <button> Sign In</button>
              </div>
              <div>
                  <button> Sign Up</button>
              </div>
          </div>
      </div>
  </header>
</body>
</html>