@import "/css/common/common.css";

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title .date{
    font-size: 32px;
    font-weight: 500;
}

.title .controller{
    margin-left: 5px;
    margin-top: 10px;
}

.title .controller a{
    display: inline-block;
    padding: 3px;
    margin-left: 1px;
    border: 1px solid #8d8d8d;
    font-size: 16px;
    border-radius: 3px;
}

.calender{
    display: flex;
    flex-direction: column;
}

.calender .week{
    display: flex;
    flex-direction: row;
}

.calender .week .day {
    width: calc(100% / 7);
    height: 120px;
    border-top: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}

.calender .week:last-child .day{
    border-bottom: 1px solid #cbcbcb;
}

.calender .week .day:last-child{
    border-right: 1px solid #cbcbcb;
}

.calender .week .day .day-box{
    font-size: 16px;
    color: #a5a5a5;
    text-align: right;
    display: flex;
    flex-direction: row;
    height: 27px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2px;
}

.calender .week .day .target-month{
    color: black;
}

.calender .week .day .target-month .today-box{
    color: black;
}

.calender .week .day .today-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender .week .day .today{
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.calender .week .day .today .month-value{
    color: white;
}
