@import "/css/common/common.css";

#progress-form{
    margin-top: 40px;
}

.btn-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-box a{
    display: inline-block;
    margin-bottom: 15px;
}

.detail-list{

}

.detail-list .detail{
    padding: 20px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
}

.detail-list .detail .date{
    margin-right: 20px;
}