@import "/css/common/common.css";

#progress-form{
    margin-top: 40px;
}

.btn-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-box a{
    display: inline-block;
    margin-bottom: 15px;
}

.btn-box button{
    margin-bottom: 15px;
}