<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/base :: head(~{::link})}">
    <link rel="stylesheet" th:href="@{/css/member/signInForm}">
</head>
<body>
<section class="main container-sm">
    <div class="col-sm-6">
        <div class="row justify-content-center ">
            Progressor
        </div>
        <div class="row justify-content-center">
            <h3 class="mb-4">Sign In</h3>
            <form th:action th:object="${member}" class="signin-form" method="post">
                <input th:field="*{username}" type="text" class="form-control" placeholder="Username" required>
                <input th:field="*{password}" type="password" class="form-control" placeholder="Password" required>
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                    Sign In
                </button>
            </form>
        </div>
    </div>
</section>
</body>
</html>