<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/base :: head(~{::link})}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail/createDetailForm.css}">
</head>
<body>

<header th:replace="~{/layout/header :: header}">
</header>
<section class="main container-sm">
    <form th:action th:object="${detail}" method="post">
        <select class="form-select" th:field="*{progressId}" aria-label="Progress select" onchange="handleSelect(this)">
            <option value="">목표 선택하기</option>
            <option th:each="progress : ${progresses}"
                    th:value="${progress.id}"
                    th:text="${progress.subject}"
                    th:selected="${progress.id} == 1"
                    th:ptarget="${progress.goal}"
                    th:pcurrent="${progress.progress}"></option>
        </select>

        <div class="mb-3" style="margin-top: 15px;">
            <label for="target" class="form-label">목표 수치</label>
            <input type="number" th:value="${targetProgress.goal}" class="form-control" id="target" placeholder="100" disabled>
        </div>
        <div class="mb-3">
            <label for="current" class="form-label">현재 수치</label>
            <input type="number" th:value="${targetProgress.progress}" class="form-control" id="current" placeholder="100" disabled>
        </div>

        <div class="mb-3">
            <label for="figure" class="form-label">추가할 수치</label>
            <input type="number" th:field="*{figure}" class="form-control" id="figure" placeholder="100">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary form-control">생성하기</button>
            <a class="btn btn-secondary form-control" th:href="@{/progress/summary}" style="margin-top: 15px;">
                목록으로
            </a>
        </div>
    </form>
</section>
<script defer>
    function handleSelect(model){
        let option = model.options[model.selectedIndex];

        let targetValue = option.getAttribute('ptarget');
        let currentValue = option.getAttribute('pcurrent');

        let target = document.getElementById("target");
        let current = document.getElementById("current");

        target.value = targetValue;
        current.value = currentValue;
    }
</script>
</body>
</html>